<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My title</title>

    <link rel="stylesheet" href="css/style.css">

    <script src="https://unpkg.com/vue@3"></script>
</head>
<div id="app">
<body>
<input v-model="userTask" placeholder="scrivi la tua task" type="text">
<button @click="addTask" >Aggiungi</button>
<ul>
    <li v-for="task, index in tasks">
        <span>{{ task.text }}</span>
    </li>
</ul>
</div>
    <script type="text/javascript" src="js/script.js"></script>
</body>
</html>